/*Divisões principais*/
footer{
	background-color: black;
	color: white;
	float: left;
	text-align: center;
	width: 100%;
}
footer div{
	background-color: black;
	float: left;
	height: 100%;
	text-align: justify;
	width: 30%;
}
#footer-div1{
	margin-left: 2.5%;
}
#footer-div2{
	margin-left: 2.5%;
	margin-right: 2.5%;
}
#footer-div3{
	margin-right: 2.5%;
}
ul li{
	list-style: none;
}
ul{
	padding: 0px;
	margin: 0px;
}
p{
	margin: 0px;
}