/*GERAL*/
/*Divisões principais*/
footer{
	background-color: var(--black);
	color: var(--white);
	float: left;
	text-align: center;
	width: 100%;
}
footer div{
	background-color: var(--black);
	float: left;
	height: 100%;
	text-align: justify;
	width: 30%;
}
/*Textos*/
ul li{
	list-style: none;
}
ul{
	padding: 0px;
	margin: 0px;
}
p{
	margin: 0px;
}

#footer-div1{
	margin-left: 2.5%;
}

#footer-div2{
	margin-left: 2.5%;
	margin-right: 2.5%;
}
/*Textos*/
#footer-div2 ol li{
	color: var(--pastel-yellow);
}
#footer-div2 ol li:hover{
	color: var(--yellow);
}

#footer-div3{
	margin-right: 2.5%;
}
/*Textos*/
#footer-div3 p{	
	padding: 0px;
}