/*Divisões principais*/
/*Título e logo*/
#header-title{
	background-color: var(--black);
	height: 100%;
	min-height: 150px;
	word-break: keep-all;
}
#logo{
	background-color: var(--black);
	display: block;
	float: left;
	height: 150px;
	margin: 0px;
	width: 150px;
}
h1{
	color: var(--white);
	font-size: 3vw;
	margin: 0px;
	padding-top: 75px;
	text-align: center;
}
h1 a span{
	color: var(--yellow);
}
a{
	color: var(--white);
	text-decoration: none !important;
}
h1 a:hover{
	color: var(--yellow);
	cursor: pointer;
}

@media only screen and (orientation: portrait){
	h1{
		font-size: 6vw;
	}

	/*Guia de navegação*/
	#top-menu{
		background-color: var(--yellow);
		display: none;
		height: auto;
		padding: 20px;
		position: fixed;
		width: 100%;
	}
	nav{
		background-color: var(--yellow);
		color: var(--white);
		height: 100%;
		left: 0;
		overflow-x: hidden;
		position: fixed;
		top: 0;
		width: 0;
	}
	nav ul li{
		padding: 20px;
		border-bottom: 6px solid var(--dark-yellow);
	}
}

@media only screen and (orientation: landscape){
	/*Guia de navegação*/
	#top-menu, #navbar-close-button{
		display: none;
	}
	nav{
		background-color: var(--dark-gray);
		text-align: center;
	}
	nav ul{margin: 0px;}
	nav ul li{
		display: inline-block;
		font-size: 2vw;
		list-style: none;
		margin: 0px 10px 0px 10px;
		padding: 10px;
	}
	nav a{
		color:  var(--pastel-yellow);
		font-size: 16pt;
		text-decoration-style: none;
	}
	/*Hover*/
	nav a:hover{
		color: var(--black);
		transition: 0.10s;
	}
	nav ul li:hover{
		background-color: var(--bright-yellow);
		transition: 0.10s;
	}
	/*Active*/
	nav a:active{
		color: var(--white);
	}
	nav ul li:active{
		background-color: var(--dark-yellow);
	}
	/*Selecionado*/
	nav .selected{
		color: var(--black);
		transition: 0.10s;
	}
	nav .selected{
		background-color: var(--bright-yellow);
		transition: 0.10s;
	}
}