.item-row{
	background-color: red;
}
article{
	float: left;
	width: 50%;
}
.item-product h4, .item-product p{
	padding: 20px;
}
.item-product h4{
	background-color: var(--black);
	color: var(--white);
	text-align: center;
}
.item-1, .item-4{
	background-color: var(--dark-yellow);
	border: 5px solid var(--yellow);
	color: var(--pastel-yellow);
}
.item-2, .item-3{
	background-color: var(--yellow);
	border: 5px solid var(--dark-yellow);
	color: var(--black);
}