/*TEXTOS*/
p{
	padding: 20px;
	text-align: justify;
}
/*IMAGENS*/
/*Phones*/
#figure-phones{
	padding: 0px 20% 0px 20%;
}
#figure-phones img{	
	width: 100%;
}
/*Home-Appliances*/
#figure-home-appliances{
	float: left;
	padding: 20px;
}
#figure-home-appliances img{
	display: inline-block;
}
figcaption{
	background-color: var(--dark-yellow);
	color: var(--white);
	text-align: center;
}